<ion-view view-title="Agua">
  <ion-content class="padding">
    <center> 
    <h2>Informacion del agua</h2>
    <p>Pese a que suena un tanto extraño, el agua se define como un compuesto químico. Contiene dos átomos de hidrógeno y un átomo de oxígeno, es decir, una molécula de agua contiene a los dos átomos de hidrógeno unidos al átomo de oxígeno por un enlace covalente. La fórmula del agua es H2O.

En condiciones normales es incolora e inodora pero posee una excelente capacidad de disolver gran cantidad de sustancias que le otorgan diferentes sabores, olores y colores, por ello se le conoce como solvente universal. En la naturaleza, el agua existe y persiste gracias al ciclo hidrológico, que es un intercambio incesante del compuesto entre la atmósfera, el agua del suelo, las aguas superficiales, las aguas subterráneas y las plantas; consta de varios procesos básicos de transferencia: evaporación, condensación, precipitación y escurrimiento.
    <a href="http://market.ionic.io/starters" target="_blank" rel="noopener"></a>.
    </p>
    <p>
   <code></code></code>
    </p>
    <p>
      <center>
      <video src="123.mp4" controls height="300" width="400"></video></center>
      <h2>fecundacion y embarazo</h2>
     <p>La fecundación.
Es la unión de un óvulo y un espermatozoide. Para que ocurra, el óvulo debe encontrarse con un espermatozoide en una de las trompas de Falopio.La unión del óvulo y el espermatozoide da origen a una célula llamada cigoto, que es la primera célula del nuevo ser. Primero, el cigoto se divide y da lugar a dos células, luego a cuatro, luego a ocho y así sucesivamente, hasta formar un embrión.El embrión continua por las trompas de Falopio, llega al útero y La mayoría de los meses el óvulo no es fecundado. En ese caso, llega al útero y es expulsado por la vagina junto con una pequeña hemorragia, que forma la menstuación o regla.La primera menstuación se considera el principio de la puebertad.</p>
      <iframe width="400" height="400" src="https://www.youtube.com/embed/_f0X_trbApw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
      <h2>metodos anticonseptivos</h2>
      <p>Son los métodos o procedimientos que previenen un embarazo en mujeres sexualmente activas, ya sean ellas o sus parejas quienes los usen. Pueden ser hormonales o no hormonales, transitorios o definitivos, basados en tecnología o en conductas[1]. Los métodos anticonceptivos (MAC) disponibles actualmente en Chile son</p>
     <iframe width="400" height="400" src="https://www.youtube.com/embed/4gX8aFjZ5rI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
  </ion-content>
</ion-view>
