<ion-view view-title="ADNcarlos">
  <ion-content class="padding">
    <h2>ADN BiologyApp</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
      <center>
      <video src="123.mp4" controls height="300" width="400"></video></center>
     
    </p>
  </ion-content>
</ion-view>
