<ion-view view-title="JUEGO">
  <ion-content>
    <div class="container">
      <div class="row">
        <div class="col col-35"></div>
        <div class="col col-30">
           <h1>Juego Memoria</h1>
   <div class = "memoria">
    <div id = "1" class = "carta"></div>
    <div id = "2" class = "carta"></div>
    <div id = "3" class = "carta"></div>
    <div id = "4" class = "carta"></div>
    <div id = "5" class = "carta"></div>
    <div id = "6" class = "carta"></div>
    <div id = "7"class = "carta"></div>
    <div id = "8" class = "carta"></div>
    <div id = "9" class = "carta"></div>
    <div id = "10" class = "carta"></div>
    <div id = "11" class = "carta"></div>
    <div id = "12" class = "carta"></div>
    <div id = "13" class = "carta"></div>
    <div id = "14" class = "carta"></div>
    <div id = "15" class = "carta"></div>
    <div id = "16" class = "carta"></div>
  </div>
  <div class="wins" id="win" style="display: none"></div><br><br><br>
  </ion-content>
</ion-view>